# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts and temporary files
.next
out
dist

# Ignore logs
logs
*.log

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore version control files
.git
.gitignore

# Ignore IDE and editor folders
.vscode
.idea
*.sublime-workspace
*.sublime-project

# Ignore any other files you don't want in the container
*.md
README.md
